<!doctype html>
<html>
    <head>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <meta charset="utf-8">
        <link media="all" rel="stylesheet" type="text/css" href="/static/css/bootstrap.std.css">
        <link media="all" rel="stylesheet" type="text/css" href="/static/css/management.css">
        <title>{{ .Title }}</title>

    </head>
    <body>
       <div class="container">
       <div class="navbar navbar-default navbar-static-top">
          <div class="navbar-inner">
            <a class="navbar-brand" href="/"><h2>果库er</h2></a>
          </div>
        </div>
		<script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        {{ .LayoutContent }}
       </div>

    </body>
</html>
